/* 
Blue Solid = #1541B1
Blue Liight = #184FDD
Yellow = #ffaa00
*/

* {
  margin: 0 auto;
  outline: none;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #184fdd;
}

header {
  background-color: #1541b1;
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  box-shadow: 2px 2px 2px 1px #1b4ecf9a;
}

header img {
  margin-left: 1%;
  margin-top: 10px;
}

header a {
  margin-right: 1%;
}

header button {
  padding: 10px 14px 10px 14px;
  border-radius: 5px;
  border: none;
  background-color: #ffaa00;
}

header button:hover {
  background-color: #fab833;
  cursor: pointer;
}

header button h4 {
  font-size: 11pt;
  color: white;
}

nav {
  display: flex;
  align-items: right;
  justify-content: center;
  width: 45%;
  margin-left: 60%;
}

.menu {
  list-style: none;
  float: left;
  border: none;
}

.menu li {
  position: relative;
}

.menu li a {
  color: white;
  text-decoration: none;
  padding: 5px 5px;
  display: block;
}

.menu li a:hover {
  color: #fff;
  text-shadow: 0px 0px 2px #fff;
}

.menu li ul {
  position: absolute;
  top: 28px;
  right: 10px;
  left: -50px;
  display: none;
  background-color: #ffaa00;
  width: 200px;
  border-radius: 5px;
}

.menu li:hover ul,
.menu li.over ul {
  display: block;
}

.menu li ul li {
  display: block;
  width: 200px;
  text-align: center;
}

.menu li ul li a{
  text-align: left;
}
